:root {
  --background-color-green: #495e57;
  --background-color-yellow: #fbdabb4d;
  --link-color-dark: #dfe69e;
  --pico-primary-background: #f4ce14 !important;
  --pico-primary-hover-background: #9e8505 !important; 
  --pico-border-radius: 5rem !important;
  --pico-primary-inverse: #000 !important;
}

html {
  scroll-behavior: smooth;
}
a:link {
  color: --link-color-dark;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

h2 {
  text-align: center;
}
section {
  padding: 2rem 0;
}
footer {
  padding: 2rem 0;
  background-color: var(--background-color-green);
  color: #c2c7d0;
  text-align: center;
  gap: 1rem;
}
a[type=button] {
  background-color: #f4ce14;
  border-radius: 2rem;
  color: #333;
}

.banner {
  background-color: var(--background-color-green);
}
.testimonials {
  background-color: var(--background-color-yellow);
}
.reservation {
  background-color: var(--background-color-yellow);
  min-height: 500px;
  margin-bottom: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.spacer {
  margin-bottom: 8rem;
}
.left {
  text-align: left;
}

main {
  margin-top: 80px;
}
nav {
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
  background-color: #fff;
  z-index: 1;
}
.navbar-hidden {
  transform: translateY(-100%);
}
.restaurant-image {
  object-fit: cover;
  width: 33rem;
  height: 400px;
  border-radius: 1.6rem;
}
.person-card, .menu-card {
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Initial shadow */
}
.person-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.person-card h5 {
  margin-top: 10px;
  /* font-weight: 400; */
  font-size: 1rem;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.person h3 {
  font-size: 20px;
  margin: 0.5rem 0;
}
.rating, .review {
  font-size: 0.8rem;
}
.menu-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}
.person-card:hover {
  transform: translateY(-10px); /* Move up on hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.menu-card h3 {
  margin-top: 8px;
  font-size: 1rem;
}
.description {
  font-size: 0.8em;
}
.price {
  color: #bb0d0d;
  font-weight: bold;
}

.about-image-container {
  position: relative;
}
.about-image-box {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  height: 380px;
  width: 290px;
}
.img-box-2 {
  left: 180px;
  position: absolute;
  top: -100px;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 0px;
}
/* Add this to a new file, e.g., src/index.css */
.tricol-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.fourcol-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.twocol-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.fourcol-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.footer-nav, .footer-nav ul {
  flex-direction: column;
}

.footer-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
footer nav {
  padding: 0;
}
footer a:link, footer a:visited {
  color: var(--link-color-dark);
  text-decoration: none;
}
address {
  font-size: 0.8rem;
}

.copy {
  margin-top: 2rem;
  font-size: 0.7rem;
}

.formField {
  margin-bottom: 1rem;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin: -0.8rem 0 0 1rem;
}
@media (max-width: 992px) {
  .tricol-grid,
  .fourcol-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .tricol-grid,
  .fourcol-grid {
    grid-template-columns: 1fr;
  }
}

.thank-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.thank-you {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideDown 2s ease forwards;
  background-color: #fff;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  opacity: 0;
  transform: translateY(-50px);
}

.animate-slide-down.animated {
  animation: slideDown 0.5s ease forwards;
}

